body {
  background: url("/universe.png");
  padding-bottom: 100px;
}

#main-nav {
  background: #fff;
  padding: 0;
  margin: 0;
  border: none;
}

#main-nav .navbar-brand {
  font-size: 21px;
  position: relative;
  bottom: 5px;
  color: #0c76ab;
}

#main-nav .navbar-brand i {
  font-size: 28px;
  position: relative;
  top: 3px;
  color: #0c76ab;
}

.main {
  margin-top: 84px;
}

#main-nav .navbar-nav li a {
  border-bottom: 3px solid #fff;
  padding: 16px 3px 11px 0px;
  margin: 0 10px 0;
  font-size: 16px;
}

#main-nav .navbar-nav li a i {
  font-size: 21px;
}

#main-nav .navbar-nav li a i.fa-zap {
  position: relative;
  top: 2px;
}

#main-nav .navbar-nav li a:hover {
  color: #0c76ab;
  border-bottom: 3px solid #0c76ab;
  transition: border 0.5s;
}

p {
  line-height: 1.4;
}

.entry {
  margin-top: 90px;
}

.tweet-btn {
  margin-right: 15px;
  margin-top: 10px;
}

#profile-panel span.username {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

#profile-panel #profile-stats {
  margin: 50px auto 0;
}

#profile-panel #profile-stats .head {
  font-size: 9px;
  line-height: 10px;
  color: #8899a6;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
}

#profile-panel #profile-stats .numbers {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.panel h4 {
  margin: 0;
}

.panel .panel-footer {
  background-color: #ebf2f5;
}

.panel .panel-footer.short {
  padding-bottom: 1px;
}

#quote a:hover {
  color: #0c76ab;
  text-decoration: underline;
}

#tweet-stream li.tweet h5.tweet-author{
  font-size: 16px;
  margin: 5px 0;
}

#tweet-stream li.tweet p {
  margin: 0 0 8px 0;
  line-height: 1.5;
}

#tweet-stream li.tweet span.author-info {
  font-weight: 400;
  color: #8899a6;
}

#tweet-stream li.tweet .tweet-options > button {
  border: none;
}

#tweet-stream li.tweet:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.profile-status {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.display-status {
  height: 140px;
}