body {
  background: url("/universe.png");
  padding-bottom: 100px;
}

#main-nav {
  background: #fff;
  padding: 0;
  margin: 0;
  border: none;
}

#main-nav .navbar-brand {
  font-size: 21px;
  position: relative;
  bottom: 5px;
  color: #0c76ab;
}

#main-nav .navbar-brand i {
  font-size: 28px;
  position: relative;
  top: 3px;
  color: #0c76ab;
}

.main {
  margin-top: 84px;
}

#main-nav .navbar-nav li a {
  border-bottom: 3px solid #fff;
  padding: 16px 3px 11px 0px;
  margin: 0 10px 0;
  font-size: 16px;
}

#main-nav .navbar-nav li a i {
  font-size: 21px;
}

#main-nav .navbar-nav li a i.fa-zap {
  position: relative;
  top: 2px;
}

#main-nav .navbar-nav li a:hover {
  color: #0c76ab;
  border-bottom: 3px solid #0c76ab;
  transition: border 0.5s;
}

p {
  line-height: 1.4;
}

.entry {
  margin-top: 90px;
}

.revenue-btn {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.revenue-input {
  margin-top: 10px;
}

#profile-panel span.username {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 10px;
}

#profile-panel #profile-stats {
  margin: 50px auto 0;
}

#profile-panel #profile-stats .head {
  font-size: 9px;
  line-height: 10px;
  color: #8899a6;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
}

#profile-panel #profile-stats .numbers {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.panel h4 {
  margin: 0;
}

.panel .panel-footer {
  background-color: #ebf2f5;
}

.panel .panel-footer.short {
  padding-bottom: 1px;
}

#quote a:hover {
  color: #0c76ab;
  text-decoration: underline;
}

#revenue-stream li.revenue > h5.revenue-author{
  font-size: 16px;
  margin: 5px 0;
}

#revenue-stream li.revenue > p {
  margin: 0 0 8px 0;
  line-height: 1.5;
}

#revenue-stream li.revenue > span.author-info {
  font-weight: 400;
  color: #8899a6;
}

#revenue-stream li.revenue:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.profile-status {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.display-status {
  height: 140px;
  width: 224px;
  margin: 0;
  padding: 0;
  position:relative;
  display:inline-block;
  overflow:hidden;
}

.display-status > h1 {
  display: block;
  margin-top: 45px;
  margin-bottom: 0;
}

.display-status > img {
  position:absolute;
  top:50%;
  min-height:100%;
  display:block;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  min-width:100%;
}

.option-content {
  display: flex;
  align-items: center;
}

.reset-btn {
  float: right;
  position: relative;
  top: -25px;
}

.revenue-icon {
  position: relative;
  float: left;
  margin: auto 15px auto 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: gold;
}

.revenue-icon i {
  display: block;
  width: 24px;
  height: 24px;
  font-size: x-large;
  color: #fff;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}